@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./images/Background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 200px;
  flex-direction: column;
}

/* PAGE NOT FOUND */

.PNFpage {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header,
.subheader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  margin-top: -100px;
}

.subheader {
  margin-top: -50px;
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-image: url("./images/Background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.profileNav {
  margin-top: 130px;
  margin-left: 556px;
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  padding: 0px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-image: url("./images/Background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.profileNav a .line-break {
  display: block;
}

.navbar .username-link {
  text-decoration: none;
  color: inherit;
}

.navbar .username-link:hover {
  text-decoration: none;
  color: inherit;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

.logo-text {
  font-size: 1.4em;
  color: #162938;
  user-select: none;
}

.logo-text a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.welcome-text {
  font-size: 1em;
  color: #162938;
  user-select: none;
  margin-left: 30px;
}

.links a,
.profileNav a {
  position: relative;
  font-size: 1em;
  color: #162938;
  text-decoration: none;
  font-weight: 500;
  margin-left: 30px;
}

.links a::after,
.profileNav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: rgba(22, 41, 56, 0.7);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.links a:hover::after,
.profileNav a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.links a.active::after,
.profileNav a.active::after {
  background-color: #162938;
  transform-origin: left;
  transform: scaleX(1);
}

.navbar button {
  width: 65px;
  height: 25px;
  background-color: transparent;
  border: none;
  font-size: 1em;
  color: #162938;
  text-decoration: none;
  font-weight: 500;
  margin-left: 30px;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.navbar button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: rgba(22, 41, 56, 0.7);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navbar button:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* REQUEST TUTOR */

.requestTutorPage,
.applyTuitionPage,
.loginPage,
.signupPage,
.changePasswordPage,
.createStudyGroupPage {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.requestTutorFormContainer,
.applyTuitionFormContainer {
  transform: translateY(-50px);
}

.requestTutorFormContainer,
.applyTuitionFormContainer,
.loginFormContainer,
.signupFormContainer,
.changePasswordFormContainer,
.studygroupFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 10px;
  background-color: transparent;
  backdrop-filter: blur(5px);
}

.requestTutorFormContainer #inputRequestTutor,
.applyTuitionFormContainer #inputApplyTuition,
.loginFormContainer #inputLogin,
.signupFormContainer #inputSignup,
.changePasswordFormContainer #inputChangePassword,
.studygroupFormContainer #inputCreateStudyGroup {
  width: 450px;
  height: 40px;
  margin-top: 2px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 18px;
  transform: translateX(-10px);
}

.requestTutorButtonContainer,
.applyTuitionButtonContainer,
.loginButtonContainer,
.signupButtonContainer,
.saveChangesButtonContainer,
.createStudyGroupButtonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.requestTutorFormContainer input,
button,
.applyTuitionFormContainer input,
button,
.loginFormContainer input,
button,
.signupFormContainer input,
button,
.changePasswordFormContainer input,
button,
.studygroupFormContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.requestTutorFormContainer button,
.applyTuitionFormContainer button,
.loginFormContainer button,
.signupFormContainer button,
.changePasswordFormContainer button,
.studygroupFormContainer button {
  background-color: lightskyblue;
  color: white;
  font-weight: 500;
  font-size: 18px;
  text-shadow: 0 0 2px #162938;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.requestTutorFormContainer button:hover,
.applyTuitionFormContainer button:hover,
.loginFormContainer button:hover,
.signupFormContainer button:hover,
.changePasswordFormContainer button:hover,
.studygroupFormContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

.requestTutorFormContainer input,
.applyTuitionFormContainer input,
.loginFormContainer input,
.signupFormContainer input,
.changePasswordFormContainer input,
.studygroupFormContainer input {
  border: 2px solid grey;
  padding-left: 10px;
}

span,
.errorMessage {
  color: red;
}

/* BROWSE TUTEES */

.browseTuteesPage,
.applicationsContainer,
.studygroupsContainer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postandapply:first-child,
.groupandjoin:first-child {
  margin-top: -50px;
}
.postandapply:last-child,
.groupandjoin:last-child {
  margin-bottom: 30px;
}

.applicationandaccept:first-child {
  margin-top: 0px;
}

.postandapply,
.applicationandaccept,
.groupandjoin {
  width: 400px;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
}

.post,
.application,
.group {
  width: 400px;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: box-shadow 0.5s ease;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.post .title,
.application .title,
.group .title {
  flex: 15%;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  place-content: center;
  color: white;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}

.delete {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: white;
}

.delete:hover {
  color: #162938;
}

.post .body,
.clickableBody,
.application .body,
.group .body {
  flex: 70%;
  display: grid;
  place-content: left;
  padding: 20px;
  background-color: white;
  overflow-wrap: break-word;
}

.post .clickableBody:hover {
  box-shadow: 0px 0px 200px 0.5px palegoldenrod;
  cursor: pointer;
}

.post .footer,
.application .footer,
.group .footer {
  flex: 15%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: dodgerblue;
  color: white;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.footer .username {
  flex: 50%;
}

.username a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.footer .buttons {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likedBttn {
  cursor: pointer;
  color: rgb(237, 16, 16);
}
.footer .buttons .likedBttn:hover {
  cursor: pointer;
  color: rgb(237, 16, 16);
}
.unlikeBttn {
  cursor: pointer;
  color: rgba(250, 250, 250, 0.8);
}
.footer .buttons .unlikeBttn:hover {
  color: rgba(250, 250, 250);
}

.buttons {
  margin-right: 10px;
}

.number {
  width: 20px;
}

.applyTuitionContainer,
.acceptApplicationContainer,
.createGroupContainer,
.joinGroupContainer {
  margin-top: 5px;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.applyTuitionButton button,
.acceptApplicationButton button,
.createGroupButton button,
.joinGroupButton button {
  transform: translateX(-10px);
  width: 400px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
  background-color: white;
  color: dodgerblue;
  text-shadow: 0 0 1px #162938;
  font-weight: 500;
  font-size: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.applyTuitionButton button:hover,
.acceptApplicationButton button:hover,
.createGroupButton button:hover,
.joinGroupButton button:hover {
  cursor: pointer;
  background-color: dodgerblue;
  color: white;
  text-shadow: 0 0 2px #162938;
}

/* APPLY TUITION */

.applyTuitionPage,
.postAndApplicationsPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.postDetails {
  transform: translateY(30px);
}

.applicationFormContainer {
  margin-left: 150px;
}

.postDetailsWithApplications {
  position: fixed;
  transform: translateX(-275px);
}

.applicationsContainer {
  transform: translateX(275px);
}

.noApplications {
  transform: translateY(100px);
}

/* PROFILE PAGE */

.profilePage {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basicInfo,
.subHeader {
  position: fixed;
  top: 120px;
  left: 0px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 98;
  background-image: url("./images/Background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.basicInfo h3,
.subHeader h3 {
  margin-left: 30px;
}

.basicInfo button,
.subHeader button {
  width: 230px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
  background-color: white;
  color: dodgerblue;
  text-shadow: 0 0 1px #162938;
  font-weight: 500;
  font-size: 18px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.basicInfo button:hover,
.subHeader button:hover {
  cursor: pointer;
  background-color: dodgerblue;
  color: white;
  text-shadow: 0 0 2px #162938;
}

.changePasswordButtonContainer,
.formStudyGroupButtonContainer {
  margin-left: 20px;
}

.listOfPosts,
.studygroupsContainer {
  margin-top: 80px;
}
